@model MVC_App.Models.Administrator.ParentModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Date)
        </dd>
    <!-- answers-->
        @foreach (var item in Model.AnswersCollection)
        {

            <dt>
                Answer
            </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Text)
                </dd>

        }
    </dl>

</div>
<!-- chart rendering of the image-->
<div>
    <img src="@Url.Action("CreateChart", new { id = Model.Question.id })" , alt="SimpleCart" width="70%" height="20%" />
</div>




    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        @Html.ActionLink("Back to List", "Index", "", new { @class="btn btn-default"} )
    </div>
}