@model MVC_App.Models.Administrator.ParentModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>QuestionModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Question.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question.Question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question.Question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Question.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question.Date, new { htmlAttributes = new { @id = "date-real", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class='input-group date datepickerinput' id="datepickerinput1">
                    <input id="date-input" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        @for (int i = 0; i < Model.AnswersCollection.Count(); i++)
        {
        <div class="form-group" style="display:block;">
            <label class="control-label col-md-2"> Answer</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswersCollection[i].Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswersCollection[i].Text, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <img src="@Url.Action("CreateChart", new { id = Model.Question.id})" alt="SimpleCart" width="70%" height="20%" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default" })
</div>


<style>
    .input-group {
        display: flex;
    }

    .input-group-addon {
        margin-right: 5px;
        padding-right: 25px;
    }
</style>

<script type="text/javascript">

            $(function () {
                $('#datepickerinput1').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            });
            $('#date-input').val(moment($('#date-real').val().split(' ')[0]).format('YYYY-MM-DD'))
</script>

<script type="text/javascript">

            $(function () {
                $('#datepickerinput1').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            });
</script>

