﻿@model Calendar4e.Models.ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>


    <!-- CSS Includes -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
    <script src="https://kit.fontawesome.com/03cf08f72f.js" crossorigin="anonymous"></script>

    <!-- JS includes -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

    <!-- Google fonts included from cdn -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    @section Styles {
        <link href="@Url.Content("~/Content/customcss/footer-calendar.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/customcss/custom-calendar.css")" rel="stylesheet" type="text/css" />
    }
    <!-- CSS Custom -->
    <link rel="stylesheet" href="~/Content/customcss/custom-calendar.css" />
    <link rel="stylesheet" href="~/Content/customcss/footer-calendar.css" />
    <link rel="stylesheet" href="~/Content/customcss/custom-task-index.css" />

    <!-- Datetime picker -->
    <script src="~/Scripts/datetime-js/DateTimePicker.js"></script>
    <link href="~/Content/DateTImePicker.css" rel="stylesheet" />
    
    </head>
    <body>
        <!-- Navigation -->
    <nav class="navbar-fixed-top">
        <div class="logo">
            <a href="/">
                <h4>Calendar4e</h4>
            </a>

        </div>
        @if (Session["Username"] != null)
        {
            <div>
                <h4>
                    Welcome <b>@Session["Username"].ToString()</b> !
                    <span>@Html.ActionLink("Logout", "Logout")</span>
                </h4>
            </div>
        }
        <ul class="nav-links">
            <li><a href="#">My Tasks</a></li>
            <li><a href="/Complaints/Index">All Complaints</a></li>
            <li><a href="/HouseRules/Index">House Rules</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <!-- Animation script for the navigation -->
    <script src="~/Scripts/customcalendar-js/calendar-navigation.js"></script>

    <div class="container-fluid">
        <div id='calendar'></div>
    </div>

    <!-- Calendar modal -->
    <div id="modal-view-event" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
                    <span class="event-id">  TaskID</span>

                    <div class="row" style="margin-bottom: 2%">
                        <div class="col-md-8"><h4 class="modal-title"><span class="event-subject"></span></h4></div>
                        <div class="col-md-4"><b style="color: steelblue">@@<span class="event-user">User</span></b></div>
                    </div>

                    <div class="event-body">
                    </div>

                    <b><span class="event-start">2020-01-09 13:00</span></b>

                    <div class="container-fluid" style="margin-top: 5%">
                        <p class="text-warning">Are you sure you want to delete this? <a class="event-del" href="/Task/Delete/0">Yes</a> or <a href="">No</a> </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" onclick="deleteQuestion()">Delete</a>
                    <a class="btn btn-warning event-edit" href="/Task/Edit/0">Edit</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- JS for calendar modal -->
    <script src="~/Scripts/customcalendar-js/calendar-modal.js"></script>

    <!-- JS for the calendar -->
    <script>
         $(document).ready(function () {
             $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,list'
                },
                allDayDefault: false,
                timeZone: 'local',
                defaultDate: '2020-01-07',
                firstDay: 1,
                aspectRatio: 2.0,
                editable: true,
                slotMinutes: 15,
                events: '@Url.RouteUrl(new{ action="GetTasks", controller="Task"})',
                eventRender: function (event, element) {
                    element.find('.fc-title').append(" " + event.subject);
                },
                timeFormat: 'hh:mm',
                eventClick: function (event, jsEvent, view) {
                    jQuery('.event-subject').html(event.subject);
                    jQuery('.event-body').html(event.description);
                    jQuery('#modal-view-event').modal();
                    jQuery('.event-id').html(event.TaskID);
                    jQuery('.event-del').attr("href", "/Task/Delete/" + event.TaskID);
                    jQuery('.event-edit').attr("href", "/Task/Edit/" + event.TaskID);
                    jQuery('.event-start').html(event.time);
                    jQuery('.event-user').html(event.Student.Username);
                    
                }
            });
        });
    </script>

    <!-- Bottom menu-->
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-danger" aria-pressed="false" data-toggle="modal" data-target=".bd-example-modal-lg" autocomplete="off">Create Task</button>
            </div>
            <div class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-danger" aria-pressed="false" data-toggle="modal" data-target=".bd-complaint-modal-lg" autocomplete="off">Complaint</button>
            </div>
        </div>
    </nav>

    <!-- Create Task Model -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container-fluid">

                    <h2>Create</h2>


                    @using (Html.BeginForm("Create", "Task", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Task</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2 text-uppercase">Subject</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Task.subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Task.subject, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2 text-uppercase">Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Task.description, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Task.description, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Task.start, htmlAttributes: new { @class = "control-label col-md-2 uppercase" })
                        <div class="col-md-10">
                            <div class='input-group'>
                                <input class="form-control form_datetime text-box single-line valid" id="Task_start" data-format="yyyy-MM-dd HH:mm" name="Task.start" type="text" data-field="datetime">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                            <div id="dtBox"></div>
                            @Html.ValidationMessageFor(model => model.Task.start, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Datetime picker -->
                    <script>
                        $(document).ready(function () {
                            $("#dtBox").DateTimePicker(
                            );
                        });
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Task.end, htmlAttributes: new { @class = "control-label col-md-2 uppercase" })
                        <div class="col-md-10">
                            <div class='input-group'>
                                <input class="form-control form_datetime text-box single-line valid" id="Task_end" name="Task.end" data-format="yyyy-MM-dd HH:mm" type="text" data-field="datetime">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Task.end, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Task.allDay, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Task.allDay)
                                @Html.ValidationMessageFor(model => model.Task.allDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                    <br />
                </div>

            </div>
        </div>
    </div>

    <!-- Create Complaint Model -->
    <div class="modal fade bd-complaint-modal-lg" tabindex="-2" role="dialog" aria-labelledby="myLargeComplaintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container-fluid">

                    <h2>Complaint</h2>

                    @using (Html.BeginForm("Create", "Complaints", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Complaint</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Complaint.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Complaint.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Complaint.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Complaint.DirectedToUser, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Complaint.DirectedToUser, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Complaint.DirectedToUser, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Complaint.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Complaint.Description, new { @class = "form-control", @rows = 5 })
                                    @Html.ValidationMessageFor(model => model.Complaint.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                @Html.LabelFor(model => model.Complaint.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Complaint.IsPublic)
                                        @Html.ValidationMessageFor(model => model.Complaint.IsPublic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />

                                </div>
                            </div>

                        </div>
                    }

                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </body>
</html>
