@model IEnumerable<MVC_App.Data.Answering_the_Question>

@{
    ViewBag.Title = "Answers";
}

<h2>Answers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_answer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.characteristic_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.characteristic_answer_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_answer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.characteristic_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.characteristic_answer_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
